{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
{{ flatpage.content }}


<div align="left">
    <font size="2" color="red" face="Arial"><p>Duck Tales, woo,</p></font>
    <font size="3" color="orange" face="Georgia"><p>Every day they're out there making</p></font>
    <font size="4" color="green" face="Courier New"><p>Duck Tales, woo,</p></font>
    <font size="5" color="blue" face="Times New Roman"><p>Tales of derring-do, bad and good luck tales!</p></font>

</font>

</div>

{% endblock content %}